*{
    margin: 0px;
    padding: 5px;
}
#header{
    display: block;
    width: 900px;
    margin: 50px auto;
    text-align: center;
    background: rgba(204, 45, 24, 0.904);
    border: 1px solid#999999;
    border-radius: 20px;
    padding: 20px;
    font: bold 25px verdana sans-serif;
    box-shadow: rgba(204, 45, 24, 0.904) 10px 10px 10px;
animation: myanimation 1s ease-in-out 0s infinite normal none;
}
@keyframes myanimation{
    0%{
        background: #ffffff
    }
50%{
    background: rgba(204, 45, 24, 0.904)
}
100%{
    background: #ffffff;
}
}
#slika{
    align-self: stretch;
    align-self: center;
}

#filmovi{
    background: -webkit-linear-gradient(top, #000000, #fff000, #666666);
    border: 1px solid#999999;
    padding: 18px;
    font: bold 20px verdana sans-serif;
    text-shadow: rgb(150, 150, 150) 3px 3px 3px;
}
aside{
    text-align: center;}

    footer{
        text-align: right;
    font: italic 14px verdana, sans-serif;
    text-shadow: rgb(150, 150, 150) 3px 3px 3px;
    }
    #vigo{
        text-shadow: rgb(0, 0, 150) 3px 3px 3px;
        font: bold;
    }
  #orlando{
    text-shadow: rgb(0, 150, 0) 3px 3px 3px; 
    font: bold;
    }
    #dwarf{
        text-shadow: rgb(0, 0, 0) 3px 3px 3px;
        font: bold;
    }
    #section{
        background: rgb(214, 212, 212);
    }
    button {
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      button {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
      }
      
      button:hover {
        background-color: #4CAF50;
        color: white;
      }
